<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="people.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="all">
                    <match url="/*" />
                    <action type="Rewrite" url="./src/people.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode promoteServerVars="REMOTE_ADDR" />
    </system.webServer>
</configuration>